In [28]:
import numpy as np
import pandas as pd
import glob

In [29]:
def findFiles(path): return glob.glob(path)

referee_list = []
team_list = []

for filename in findFiles('input/referee_*.csv'):
    print(filename)
    df = pd.read_csv(filename)
    df.columns = ['Referee' , 'Team' , 'Mon' , 'Tue' , 'Wed' , 'Thr' , 'Fri']
    print(df)
    referee_list.append(df)

for filename in findFiles('input/Team_*.csv'):
    print(filename)
    df = pd.read_csv(filename)
    df.columns = ['Team', 'Mon', 'Tue', 'Wed', 'Thr', 'Fri']
    print(df)
    team_list.append(df)

input\referee_1.csv
  Referee  Team  Mon  Tue  Wed  Thr  Fri
0     Amy     2    1    1    1    0    0
input\referee_2.csv
  Referee  Team  Mon  Tue  Wed  Thr  Fri
0  Angela     5    0    1    1    1    0
input\referee_3.csv
  Referee  Team  Mon  Tue  Wed  Thr  Fri
0    Tina     8    1    1    1    1    1
input\referee_4.csv
   Referee  Team  Mon  Tue  Wed  Thr  Fri
0  Jessica    26    0    0    0    1    1
input\referee_5.csv
     Referee  Team  Mon  Tue  Wed  Thr  Fri
0  Katherine    31    0    1    0    1    1
input\referee_6.csv
  Referee  Team  Mon  Tue  Wed  Thr  Fri
0  Joanne    38    1    1    1    1    1
input\referee_7.csv
  Referee  Team  Mon  Tue  Wed  Thr  Fri
0  Weibig    28    0    0    1    1    1
input\referee_8.csv
   Referee  Team  Mon  Tue  Wed  Thr  Fri
0  Tiffany    18    1    1    1    0    1
input\referee_9.csv
  Referee  Team  Mon  Tue  Wed  Thr  Fri
0   Catie    12    1    1    0    0    1
input\Team_1.csv
   Team  Mon  Tue  Wed  Thr  Fri
0     1    0    0    1    0    1
input\Team_10.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    10    0    1    0    1    1
input\Team_11.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    11    0    0    0    1    1
input\Team_12.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    12    1    1    0    0    1
input\Team_13.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    13    1    1    0    1    0
input\Team_14.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    14    0    1    1    1    0
input\Team_15.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    15    0    1    0    1    1
input\Team_16.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    16    0    1    1    1    0
input\Team_17.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    17    1    1    0    0    1
input\Team_18.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    18    1    0    0    1    1
input\Team_19.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    19    1    1    0    0    1
input\Team_2.csv
   Team  Mon  Tue  Wed  Thr  Fri
0     2    1    1    0    0    1
input\Team_20.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    20    1    1    0    0    0
input\Team_21.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    21    0    1    0    0    1
input\Team_22.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    22    1    1    0    0    1
input\Team_23.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    23    1    1    0    0    1
input\Team_24.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    24    0    1    1    0    1
input\Team_25.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    25    1    1    0    0    1
input\Team_26.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    26    1    1    0    1    0
input\Team_27.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    27    1    0    0    1    1
input\Team_28.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    28    1    0    0    1    1
input\Team_29.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    29    1    0    1    1    0
input\Team_3.csv
   Team  Mon  Tue  Wed  Thr  Fri
0     3    0    1    0    1    1
input\Team_30.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    30    1    1    1    0    0
input\Team_31.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    31    1    1    0    0    1
input\Team_32.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    32    0    1    0    1    1
input\Team_33.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    33    0    0    1    1    1
input\Team_34.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    34    1    0    0    1    1
input\Team_35.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    35    0    1    1    1    0
input\Team_36.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    36    0    1    0    1    1
input\Team_37.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    37    0    0    1    1    1
input\Team_38.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    38    1    0    1    1    0
input\Team_39.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    39    0    0    1    1    1
input\Team_4.csv
   Team  Mon  Tue  Wed  Thr  Fri
0     4    1    1    0    1    0
input\Team_40.csv
   Team  Mon  Tue  Wed  Thr  Fri
0    40    1    0    1    0    1
input\Team_5.csv
   Team  Mon  Tue  Wed  Thr  Fri
0     5    0    1    1    0    0
input\Team_6.csv
   Team  Mon  Tue  Wed  Thr  Fri
0     6    1    1    0    1    0
input\Team_7.csv
   Team  Mon  Tue  Wed  Thr  Fri
0     7    1    1    0    0    1
input\Team_8.csv
   Team  Mon  Tue  Wed  Thr  Fri
0     8    0    1    1    0    1
input\Team_9.csv
   Team  Mon  Tue  Wed  Thr  Fri
0     9    0    0    1    1    1

In [30]:
referee = pd.concat([referee_list[0],referee_list[1],referee_list[2],referee_list[3],referee_list[4],referee_list[5],referee_list[6],referee_list[7],referee_list[8]],axis=0)
team = pd.concat([team_list[i] for i in range(len(team_list))])

In [31]:
team['Class'] = 0

In [32]:
schedule = pd.DataFrame(columns = ['Mon' , 'Tue' , 'Wed' , 'Thr' , 'Fri'])
team = team.sort_values(by ='Mon', ascending = False)

In [33]:
k = 0
l = []
for index, row in team.iterrows():
    if k < 8:
        num = row['Team']
        row['Class'] = 1
        l.append(num)
        k = k + 1
schedule['Mon'] = l
print(schedule)

   Mon  Tue  Wed  Thr  Fri
0   28  NaN  NaN  NaN  NaN
1   20  NaN  NaN  NaN  NaN
2   31  NaN  NaN  NaN  NaN
3   30  NaN  NaN  NaN  NaN
4   38  NaN  NaN  NaN  NaN
5   29  NaN  NaN  NaN  NaN
6   27  NaN  NaN  NaN  NaN
7   26  NaN  NaN  NaN  NaN

In [34]:
team = team.sort_values(by ='Tue', ascending = False)
k = 0
l = []
for index, row in team.iterrows():
    if k < 8 and row['Class'] == 0:
        num = row['Team']
        row['Class'] = 1
        l.append(num)
        k = k + 1
schedule['Tue'] = l
print(schedule)

   Mon  Tue  Wed  Thr  Fri
0   28   12  NaN  NaN  NaN
1   20   21  NaN  NaN  NaN
2   31   36  NaN  NaN  NaN
3   30    3  NaN  NaN  NaN
4   38    8  NaN  NaN  NaN
5   29   10  NaN  NaN  NaN
6   27    5  NaN  NaN  NaN
7   26   35  NaN  NaN  NaN

In [35]:
team = team.sort_values(by ='Wed', ascending = False)
k = 0
l = []
for index, row in team.iterrows():
    if k < 8 and row['Class'] == 0:
        num = row['Team']
        row['Class'] = 1
        l.append(num)
        k = k + 1
schedule['Wed'] = l
print(schedule)

   Mon  Tue  Wed  Thr  Fri
0   28   12    9  NaN  NaN
1   20   21   40  NaN  NaN
2   31   36   33  NaN  NaN
3   30    3   16  NaN  NaN
4   38    8    1  NaN  NaN
5   29   10   37  NaN  NaN
6   27    5   39  NaN  NaN
7   26   35   14  NaN  NaN

In [36]:
team = team.sort_values(by ='Thr', ascending = False)
k = 0
l = []
for index, row in team.iterrows():
    if k < 8 and row['Class'] == 0:
        num = row['Team']
        row['Class'] = 1
        l.append(num)
        k = k + 1
schedule['Thr'] = l
print(schedule)

   Mon  Tue  Wed  Thr  Fri
0   28   12    9    6  NaN
1   20   21   40   15  NaN
2   31   36   33   34  NaN
3   30    3   16   32  NaN
4   38    8    1   11  NaN
5   29   10   37   18  NaN
6   27    5   39    4  NaN
7   26   35   14   13  NaN

In [37]:
team = team.sort_values(by ='Fri', ascending = False)
k = 0
l = []
for index, row in team.iterrows():
    if k < 8 and row['Class'] == 0:
        num = row['Team']
        row['Class'] = 1
        l.append(num)
        k = k + 1
if k != 7:
    for i in range(7-k):
        l.append('')
schedule['Fri'] = l
print(schedule)

   Mon  Tue  Wed  Thr  Fri
0   28   12    9    6    7
1   20   21   40   15    2
2   31   36   33   34   22
3   30    3   16   32   23
4   38    8    1   11   19
5   29   10   37   18   17
6   27    5   39    4   24
7   26   35   14   13   25

In [38]:
week=['Mon' , 'Tue' , 'Wed' , 'Thr' , 'Fri']
for index, row in referee.iterrows():
    for w in week:
        if pd.Series([row['Team']]).isin(pd.Series(schedule[w])).any():
            row[w]=0
print(referee)

     Referee  Team  Mon  Tue  Wed  Thr  Fri
0        Amy     2    1    1    1    0    0
0     Angela     5    0    1    1    1    0
0       Tina     8    1    1    1    1    1
0    Jessica    26    0    0    0    1    1
0  Katherine    31    0    1    0    1    1
0     Joanne    38    1    1    1    1    1
0     Weibig    28    0    0    1    1    1
0    Tiffany    18    1    1    1    0    1
0      Catie    12    1    1    0    0    1

In [39]:
schedule_referee = pd.DataFrame(columns = ['Mon' , 'Tue' , 'Wed' , 'Thr' , 'Fri'])

In [40]:
referee['Class'] = 0

In [41]:
for w in week:
    referee = referee.sort_values(by =w, ascending = False)
    #print(referee)
    k = 0
    l = []
    for index, row in referee.iterrows():
        if k < 4 and row['Class'] == 0 and row[w] == 1:
            num = row['Referee']
            row['Class'] = 1
            l.append(num)
            k = k + 1
    if k != 4:
        for i in range(4-k):
            l.append('')
    schedule_referee[w] = l
print(schedule_referee)

       Mon      Tue      Wed     Thr        Fri
0      Amy      Amy      Amy    Tina       Tina
1     Tina     Tina     Tina  Joanne     Joanne
2   Joanne   Joanne   Joanne  Angela     Weibig
3  Tiffany  Tiffany  Tiffany  Weibig  Katherine

In [42]:
print(schedule)

   Mon  Tue  Wed  Thr  Fri
0   28   12    9    6    7
1   20   21   40   15    2
2   31   36   33   34   22
3   30    3   16   32   23
4   38    8    1   11   19
5   29   10   37   18   17
6   27    5   39    4   24
7   26   35   14   13   25

In [43]:
final_schedule = pd.DataFrame(columns = ['Mon' , 'Tue' , 'Wed' , 'Thr' , 'Fri'])

In [44]:
for w in week:
    l = []
    l.append(schedule.loc[0, w])
    l.append(schedule.loc[1, w])
    final_schedule.loc[0,w] = l
    final_schedule.loc[1,w] = schedule_referee.loc[0,w]
    l2 = []
    l2.append(schedule.loc[2, w])
    l2.append(schedule.loc[3, w])
    final_schedule.loc[2,w] = l2
    final_schedule.loc[3,w] = schedule_referee.loc[1,w]
    l3 = []
    l3.append(schedule.loc[4, w])
    l3.append(schedule.loc[5, w])
    final_schedule.loc[4,w] = l3
    final_schedule.loc[5,w] = schedule_referee.loc[2,w]
    l4 = []
    l4.append(schedule.loc[6, w])
    l4.append(schedule.loc[7, w])
    final_schedule.loc[6,w] = l4
    final_schedule.loc[7,w] = schedule_referee.loc[3,w]
print(final_schedule)

        Mon       Tue       Wed       Thr        Fri
0  [28, 20]  [12, 21]   [9, 40]   [6, 15]     [7, 2]
1       Amy       Amy       Amy      Tina       Tina
2  [31, 30]   [36, 3]  [33, 16]  [34, 32]   [22, 23]
3      Tina      Tina      Tina    Joanne     Joanne
4  [38, 29]   [8, 10]   [1, 37]  [11, 18]   [19, 17]
5    Joanne    Joanne    Joanne    Angela     Weibig
6  [27, 26]   [5, 35]  [39, 14]   [4, 13]   [24, 25]
7   Tiffany   Tiffany   Tiffany    Weibig  Katherine

In [45]:
new_final_schedule = final_schedule
idx = 0
new_col = ['court 4', 'referee', 'court 5', 'referee', 'court 6', 'referee', 'court 7', 'referee']  # can be a list, a Series, an array or a scalar   
new_final_schedule.insert(loc=idx, column='', value=new_col)

In [46]:
print(new_final_schedule)

                 Mon       Tue       Wed       Thr        Fri
0  court 4  [28, 20]  [12, 21]   [9, 40]   [6, 15]     [7, 2]
1  referee       Amy       Amy       Amy      Tina       Tina
2  court 5  [31, 30]   [36, 3]  [33, 16]  [34, 32]   [22, 23]
3  referee      Tina      Tina      Tina    Joanne     Joanne
4  court 6  [38, 29]   [8, 10]   [1, 37]  [11, 18]   [19, 17]
5  referee    Joanne    Joanne    Joanne    Angela     Weibig
6  court 7  [27, 26]   [5, 35]  [39, 14]   [4, 13]   [24, 25]
7  referee   Tiffany   Tiffany   Tiffany    Weibig  Katherine

In [54]:
import csv
with open('output/final.csv', 'w', newline='') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(['','Mon' , 'Tue' , 'Wed' , 'Thr' , 'Fri'])
    for index, row in new_final_schedule.iterrows():
        writer.writerow(row)